<!DOCTYPE html>

<html class="home-html">
	
	<head class="home-head">
		
		<style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
        }
        h1 {
            color: #333;
        }
        p {
            line-height: 1.6;
            margin-bottom: 20px;
        }
    	</style>
		
		<!-- Makes the webpage dynamically adjust based on device used -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">

		<!-- Linking Footer CSS (By Liao) -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
		
		<!-- connecting to fontawesome.com for icons (By Liao) -->
		<script src="https://kit.fontawesome.com/a58ede48c2.js" crossorigin="anonymous"></script>
		
		<!-- What appears on the tab -->
		<title>
			Home
		</title>
		
		<!-- Icon on page tab (Change this out for downloaded image once figure out how) -->
		<link rel="icon" href="https://www.bellevuecollege.edu/wp-content/uploads/sites/23/2019/12/PRI_BC_Bulldog-Head_CMYK.png">
		
		<!-- Page Title -->
		<h1 class="home-h1">
			Club Information
		</h1> 
		
	</head>
	
	<body class="home-body">
		
		<!-- Navigation Bar -->
		<div class="home-topnav">
  			<a class="home-active" href="/home">Home</a>
  			<a href="/news">News</a>
			<a href="/projects">Projects</a>
			<a href="/leadership">Leadership</a>
  			<a href="/contact">Contact</a>
  			<a href="/about">About</a>
		</div>
		

    <main>
        <section id="mission">
			<br><br>
            <h2>Mission Statement</h2>
            <p>
                Our mission at the Bellevue College Computer Programming Club is to create a supportive and collaborative community where students of all skill levels can come together to explore, learn, and excel in the field of computer programming. We are dedicated to providing opportunities for skill development, networking, and personal growth. Through hands-on projects, workshops, and engaging events, we aim to empower our members to become innovative and confident programmers who can make a positive impact in the tech industry.
            </p>
        </section>
		<br>
        <section id="vision">
            <h2>Vision</h2>
            <p>
                Our vision is to be a leading force in fostering a culture of innovation and excellence in computer programming at Bellevue College. We aspire to equip our members with the knowledge, skills, and resources they need to become industry leaders and problem solvers. We envision a future where the Bellevue College Computer Programming Club is recognized for producing top-notch programmers who drive technological advancements and contribute to the growth of our local and global communities.
            </p>
        </section>
    </main>

	<!-- Footer for the website (By Liao) -->
	<footer>
		<div class="container">
		  	<div class="row"> <!--Row 1-->
				<div class="col-md-6"> <!--Bootstrap Grid System 6/12 colunms. (column 1)-->
			  		<h3>Contact Us</h3>
			  		<ul>
						<li><i class="fa-solid fa-map-pin" style="color: #555a62;"></i><a href="https://maps.app.goo.gl/2J9WDijpecjNJhbE9">3000 Landerholm Circle SE, 98007, Bellevue, WA</a></li>
						<li><i class="fa-solid fa-phone" style="color: #555a62;"></i>(425) 564-1000</li>
						<li><i class="fa-solid fa-envelope" style="color: #555a62;"></i>ethan.leonard@bellevuecollege.edu</li>
			  		</ul>
				</div>
				<div class="col-md-6"> <!--Bootstrap Grid System other 6/12 colunms, which makes total 12/12 columns. (column 2)-->
			  		<h3>Follow Us</h3>
			  		<ul class="social-icons">
						<li><a href="https://www.instagram.com/bc_programmingclub/"><i class="fa-brands fa-instagram fa-beat" style="color: #cb5cff;"></i>Instagram</a></li>
						<li><a href="https://discord.gg/FFr86tZ4ce"><i class="fa-brands fa-discord fa-beat" style="color: #005eff;"></i>Discord</a></li>
						<li><a href="https://github.com/BC-Computer-Programming-Club/"><i class="fa-brands fa-github fa-beat" style="color: #000000;"></i>Github</a></li>
			  		</ul>
				</div>
		  	</div>
		  	<div class="row"> <!--Row 2-->
				<div class="col-12 text-center"> <!--Bootstrap Grid System 12/12 colunms + make the text center.-->
			  		<p>© Bellevue College Computer Programming Club. All rights reserved.</p>
					<em>Website by Maximus Carver, Ethan Leonard, & CPC's WebDevTeam</em>
				</div>
		  	</div>
		</div>
	</footer>
	<!-- End of Footer (By Liao) -->

	</body>
		
</html>	
		
	