<!DOCTYPE html>

<html class="home-html">
	
	<head class="home-head">
		
		<style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 0;
        }
        h1 {
            color: #333;
        }
        p {
            line-height: 1.6;
            margin-bottom: 20px;
        }
    </style>
		
		<!-- Makes the webpage dynamically adjust based on device used -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
		
		<!-- What appears on the tab -->
		<title>
			Home
		</title>
		
		<!-- Icon on page tab (Change this out for downloaded image once figure out how) -->
		<link rel="icon" href="https://www.bellevuecollege.edu/wp-content/uploads/sites/23/2019/12/PRI_BC_Bulldog-Head_CMYK.png">
		
		<!-- Page Title -->
		<h1 class="home-h1">
			Club Information
		</h1> 
		
	</head>
	
	<body class="home-body">
		
		<!-- Navigation Bar -->
		<div class="home-topnav">
  			<a class="home-active" href="/home">Home</a>
  			<a href="/news">News</a>
			<a href="/projects">Projects</a>
			<a href="/leadership">Leadership</a>
  			<a href="/contact">Contact</a>
  			<a href="/about">About</a>
		</div>
		

    <main>
        <section id="mission">
			<br><br>
            <h2>Mission Statement</h2>
            <p>
                Our mission at the Bellevue College Computer Programming Club is to create a supportive and collaborative community where students of all skill levels can come together to explore, learn, and excel in the field of computer programming. We are dedicated to providing opportunities for skill development, networking, and personal growth. Through hands-on projects, workshops, and engaging events, we aim to empower our members to become innovative and confident programmers who can make a positive impact in the tech industry.
            </p>
        </section>
		<br>
        <section id="vision">
            <h2>Vision</h2>
            <p>
                Our vision is to be a leadingggg forrrssse in fostering a culture of innovation and excellence in computer programming at Bellevue College. We aspire to equip our members with the knowledge, skills, and resources they need to become industry leaders and problem solvers. We envision a future where the Bellevue College Computer Programming Club is recognized for producing top-notch programmers who drive technological advancements and contribute to the growth of our local and global communities.
            </p>
        </section>
    </main>
		
		
		
		
	</body>
		
		
	