<!DOCTYPE html>

<html class="contact-html">

	<!--
	<style>
		.contact-heading {
			font-family: Rockwell; 
			margin-left: 25px;
		}

		.container {
			width: 100%;
			margin: 5px;
			float: left;
		}

		form {
			background-color: lightgray;
			border: 5px solid black;
			border-radius: 10px;
			padding: 10px;
			width: 30%;
			min-width: 300px;
			
		}

		label {
			display: block;
			font-weight: bold;
			font-family: Rockwell; 
			margin-bottom: 10px;
		}

		input[type="text"],input[type="email"] {
			width: 65%;
			padding: 10px;
			margin-bottom: 15px;
			border: 1px solid black;
			border-radius: 10px;
		}

		textarea {
			width: 80%;
			border-radius: 10px;
		}

		input[type="submit"] {
			background-color: blue;
			color: white;
			padding: 10px;
			border-radius: 10px;
		}

		input[type="submit"]:hover {
			cursor: pointer;
			background-color: lightblue;
		}

		


	</style>
	-->
	
	<style>
		::-webkit-scrollbar {
		  display: none;
	  }
	  </style>

	
	<script>
		function discordb() {
			window.open("https://discord.gg/hqMSesr3")
		}
	</script>
	
	<head class="contact-head">
		
		<!-- Makes the webpage dynamically adjust based on device used -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">

		<!-- connecting to fontawesome.com for icons (By Liao) -->
		<script src="https://kit.fontawesome.com/a58ede48c2.js" crossorigin="anonymous"></script>
		
		<!-- Linking Footer CSS (By Liao) -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
		
		<!-- What appears on the tab -->
		<title>
			Contact
		</title>
		
		<!-- Icon on page tab (Change this out for downloaded image once figure out how) -->
		<link rel="icon" href="https://www.bellevuecollege.edu/wp-content/uploads/sites/23/2019/12/PRI_BC_Bulldog-Head_CMYK.png">
		
	</head>
	
	<body class="contact-body">
		
		<!-- Page Title -->
		<h1 class="home-h1">
			Contact Information
		</h1>
		
		<div class="home-topnav">
  			<a class="home-active" href="/home">Home</a>
  			<a href="/news">News</a>
			  <a href="/gallery">Gallery</a>
			<a href="/leadership">Leadership</a>
  			<a href="/contact">Contact</a>
  			<a href="/about">About</a>
			<form method="POST" >
				<input name="query" id="search-bar" type="text" placeholder="Search..">
				<!-- Bug with button sucking ass plz fix
                <button  id="search-submit" type="submit">
                GO!
                </button>
                -->
			</form>
		</div>
		

		<!-- too hard to get scaling right
		<h1 id="contact-title">
			We love hearing from you!
		</h1>

		-->

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		
		<div>
		
			<ul id="contact-info">
				
				<lo class="contact-lbold">Club Contact: Ethan Leonard</lo>
				<br>
				<lo>Club Contact Email: ethan.leonard@bellevuecollege.edu</lo>
				<br>
				<lo class="contact-lbold">Advisor Name: Joseph Hueffed</lo>
				<br>
				<lo>Advisor Email: joseph.hueffed@bellevuecollege.edu</lo>	
				
			</ul>
			
		</div>	
		
					
		<div>
			
			<button onclick="discordb()" class="btn btn-primary" id="contact-discordb" type="button">Join our discord!</button>
			
		</div> 

	</body>
	
	<body>

		<!-- Form Division Created -->
		<div class="container">			
			<!-- The current URL allows user to send message (through form) directly to my email. I've used 3rd party Formspree backend integration. 
				 We should create an account (Formspree) for our club, thereby replacing the URL that connects to my account, but feel free to try sending 
				 message! I'll show you what it looks like. -->
			<form id="fs-frm" name="contact form" accept-charset="utf-8" action="https://formspree.io/f/mdovvyoy" method="post">
				<h3 class="contact-heading">Leave us a message</h3>
    			<fieldset id="fs-frm-inputs">
        			<label for="name">Full Name:</label>
        			<input type="text" name="name" id="name" placeholder="e.g. Steve" required>
					<br>
        			<label for="email">Email:</label>
        			<input type="email" name="email" id="email" placeholder="test123@example.com" required>
					<br>
        			<label for="message">Your Message:</label>
					<br>
        			<textarea rows="5" name="message" id="message" placeholder="Write your message..." required></textarea>
					<br>
        			<input type="hidden" name="subject" id="subject" value="Contact Form Submission">
       			 </fieldset>
        		<input type="submit" value="Submit">
    		</form>
		</div>
		<!-- End of Form -->

		<br>
		<br>

				<!-- Footer for the website (By Liao) -->
				<footer style="background-color: #96a0a8;">
					<br>
					<div class="container">
						<div class="row"> <!--Row 1-->
							<div class="col-md-6"> <!--Bootstrap Grid System 6/12 colunms. (column 1)-->
								<h3>Contact Us</h3>
								<ul>
									<li><i class="fa-solid fa-map-pin" style="color: #555a62;"></i><a href="https://maps.app.goo.gl/2J9WDijpecjNJhbE9">  3000 Landerholm Circle SE, 98007, Bellevue, WA</a></li>
									<li><i class="fa-solid fa-phone" style="color: #555a62;"></i>  (425) 564-1000</li>
									<li><i class="fa-solid fa-envelope" style="color: #555a62;"></i>  ethan.leonard@bellevuecollege.edu</li>
								</ul>
							</div>
							<div class="col-md-6"> <!--Bootstrap Grid System other 6/12 colunms, which makes total 12/12 columns. (column 2)-->
								<h3>Follow Us</h3>
								<ul class="social-icons">
									<li><a href="https://www.instagram.com/bc_programmingclub/"><i class="fa-brands fa-instagram fa-beat" style="color: #cb5cff;"></i>  Instagram</a></li>
									<li><a href="https://discord.gg/FFr86tZ4ce"><i class="fa-brands fa-discord fa-beat" style="color: #005eff;"></i>  Discord</a></li>
									<li><a href="https://github.com/BC-Computer-Programming-Club/"><i class="fa-brands fa-github fa-beat" style="color: #000000;"></i>  Github</a></li>
								</ul>
							</div>
						</div>
						<br>
						<div class="row"> <!--Row 2-->
							<div class="col-12 text-center"> <!--Bootstrap Grid System 12/12 colunms + make the text center.-->
								<p>© Bellevue College Computer Programming Club. All rights reserved.</p>
								<em>Website by Maximus Carver, Ethan Leonard, & CPC's WebDevTeam</em>
							</div>
						</div>
					</div>
				</footer>
				<!-- End of Footer (By Liao) -->
		
	</body>
	
</html>