<!DOCTYPE html>


<html>
	<head>
		<!-- Makes the webpage dynamically adjust based on device used -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
		
		<!-- What appears on the tab -->
		<title>
			Landing
		</title>
		
		<!-- Icon on page tab (Change this out for downloaded image once figure out how) -->
		<link rel="icon" href="https://www.bellevuecollege.edu/wp-content/uploads/sites/23/2019/12/PRI_BC_Bulldog-Head_CMYK.png">
		
		<!-- Page Title -->
		<h1 class="home-h1">
			You've made to the (un)official website of the Computer Programming Club!
		</h1>
		
	</head>
	
	
	<body class="landing-body">
		
		<div>
			
			<!-- Club image -->
			<img class="home-bimage" src="clubPic.jpg" alt="Club Picture">
			

			
		</div>
		

		<div>
			<a class="btn btn-primary" id="landing-button" href="/home">
				Enter!
			</a>
		</div>


		
	</body>


</html>