<!DOCTYPE html>

<html class="home-html">
	
	<head class="home-head">
		
		<!-- Makes the webpage dynamically adjust based on device used -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
		
		<!-- What appears on the tab -->
		<title>
			Home
		</title>
		
		<!-- Icon on page tab (Change this out for downloaded image once figure out how) -->
		<link rel="icon" href="https://www.bellevuecollege.edu/wp-content/uploads/sites/23/2019/12/PRI_BC_Bulldog-Head_CMYK.png">
		
		<!-- Page Title -->
		<h1 class="home-h1">
			Club Projects
		</h1> 
		
	</head>
	
	<body class="home-body">
		
		<!-- Navigation Bar -->
		<div class="home-topnav">
  			<a class="home-active" href="/home">Home</a>
  			<a href="/news">News</a>
			<a href="/projects">Projects</a>
			<a href="/leadership">Leadership</a>
  			<a href="/contact">Contact</a>
  			<a href="/about">About</a>
		</div>
		
		
		
		
		
		<img class="center" src="cone.jpg" alt="cone">
		
		<div id="news-text">
			Page Under Construction. Check Back Soon!
		</div>
		
	</body>
		
		
	